
.home-wrapper {
    margin: ($base-size * 3.5) auto;
    padding: ($base-size * 6) ($base-size * 4);
    background: $color-light;
    border-bottom: 1px solid lighten($color-dark, 70%);
    border-radius: $radius;
}

/* Head Home */
.nav-home-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.box-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 150px;
    width: 300px;
    position: relative;
    cursor: pointer;
}
.foto img {
    height: 150px;
    width: 300px;
    border-radius: $radius;
    object-fit: cover;
}
.box-home p {
    opacity: 0;
    margin-bottom: 0;
}
.box-home h3 {
    text-decoration: none;
    color: $color-light;
    margin: 36px 0 0 0;
}

.box-home:hover h3 {
    transform: translateY(-40%);
    transition: $transition;
    margin: 0 0 10px 0;
}

.box-home:hover p {
    transform: translateY(-50%);
    transition: $transition;
    opacity: 100%;
    color: $color-light;
    margin: 0;
}

.order-booking {
    position: absolute;
    display: inline-block;
}

.open {
    width: 600px;
    height: 120px;
    border-radius: $radius;
    background-color: $color-main;
    color: $color-light;
    text-align: center;
    flex: 100%;
    margin: ($base-size / 2) 0;
    padding: ($base-size * 2) 0;
}

.open h3 {
    margin: auto;
}

  /*Carousel */

.carousel-main {
    height: 300px;
    margin: 50px 0;
    padding: 20px 0 0 0;

    &.carousel-cell {
    counter-increment: gallery-cell;
    width: 100%;
    height: 160px;
    margin-right: 10px;
  }
}
.carousel-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}

.foto-carousel img {
    height: 250px;
    width: 400px;
    object-fit: cover;
    padding-right: 20px;
}
.opinion p {
    padding-right: 40px;
}
.opinion h3 {
    font-size: large;
}
.name {
    font-weight: bold;
}

/* Gallery */
.gallery {
    margin: 0 auto;
    padding: 100px 0 0;
}

.gallery-foto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;

}
.gallery-foto img {
    height: 170px;
    width: 190px;
    object-fit: cover;
}
.foto-wrapper {
    position: relative;

    &::before {
        content: "";
        background-color: black;
        width: 190px;
        height: 170px;
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
    .icon-wrapper {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        position: absolute;
        z-index: 3;
    }
    .icon-wrapper i {
        opacity: 0;
        position: relative;
        top: 100px;
        color: white;
        margin-left: 10px;
    }
    .icon-wrapper i:hover {
        color: $color-main;
    }
    &:focus,
    &:hover {
        &:before,
        i {
            opacity: 1;
        }

        &:before {
            top: 0;
            opacity: 0.6;
        }

        i {
            top: -110px;
            left: 60px;
        }
    }

}
.ins a {
    color: $color-main;

}


